/*-----------------------------/
            GLOBAL
----------------------------- */

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.625;
    color: rgb(69, 72, 74);
    background-color: #f3f3f3;
    margin: 0px;
    padding: 0px;
}
.page{
    width:1200px;
    height: auto;
    margin-left:auto;
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    padding: 0;
    margin: 0;  
    margin-bottom:20px;
    font-size: 42px;
    color: #e2e4e7;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.14);
    -moz-transform: matrix( 0.88539271237588,0,0,0.89184269054768,0,0);
    -webkit-transform: matrix( 0.88539271237588,0,0,0.89184269054768,0,0);
    -ms-transform: matrix( 0.88539271237588,0,0,0.89184269054768,0,0);
}

h2 {
  font-size: 28px;
  font-weight: 300;
  color: rgb(231, 235, 238);
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0;  
}

h3{
    font-size: 24px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h4{
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 30px; 
}


p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 5px 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #4a4d4f;
}

a:hover {
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.left{
    float:left;
}

.right{
    float:right;
}

img {
  max-width: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
}



.clear {
    clear: both;
}


.container {
    padding-right: 120px;
    padding-left: 120px;
    margin-right: auto;
    margin-left: auto;
}
/*
.border-circle{
  padding: 17.5px 16.5px;
  border-radius:50%;
  background-image: url('../../circle-template-assets/cirle-btn-normal.png');
  background-repeat: no-repeat;
  width: 51px;
  height: 51px;
}*/

.border-circle {
  padding: 10px 15px;
  border : 4px solid rgb(239, 250, 255);
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, #323435 0%, rgb(0,0,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, #323435 0%, rgb(0,0,0) 100%);
  background-image: -ms-linear-gradient( 90deg, #323435 0%, rgb(0,0,0) 100%);
  opacity: 0.8;
  box-shadow: 1px 1px 1px 0 #323435;
}

.border-circle:hover{
  transition: .2s all;
  background-image: -moz-linear-gradient( 90deg, #215796 0%, #3170ac 100%);
  background-image: -webkit-linear-gradient( 90deg, #215796 0%, #3170ac 100%);
  background-image: -ms-linear-gradient( 90deg, #215796 0%, #3170ac 100%);
}

.border-rectangle{
  border: 3px solid rgb(243, 243, 243);
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.39);    
}


.navbar-menu i.fa{
    color:#6e7071;
}

/*-----------------------------/
            RESPONSIVE
----------------------------- */
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;    
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-30 {width:30%;}
/*-----------------------------/
            HEADER
----------------------------- */
.header{
    background-color: #f6f6f6;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);        
}

.logo{
    padding: 20px 20px 20px 10px;
}

.social .menu{
    margin-right: 30px;
}

.social .menu .item{
    float: left;
    line-height: 110px;
}

.social .menu .item i{
    padding: 10px;
    
}

.social .menu .item i:hover{
    color: #ffffff;
    border-radius:50%;
    transition: .5s all;
    background-image: url('../../circle-template-assets/social-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/*-----------------------------/
            HERO IMAGE
----------------------------- */
.hero-section .container{
    position: relative;
}

.hero-image{
    background: url("../../circle-template-assets/hero-image.jpg");
    position: relative;
    width: 100%;
    height: 445px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: table;
    vertical-align: middle;
}

.hero-navbar{
    position: absolute;
    width: 100%;
}
.hero-navbar{
    border-top : 1px solid #cacccc;
    border-bottom : 1px solid #cacccc;
    background-color: #ebedee;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.navbar .navbar-menu{
    margin-left:10px;
}
.navbar .navbar-menu .item{
    float: left;
    padding: 20px;
    font-size: 12px;
    color: #4a4d4f;
    position: relative;
}

.navbar-menu .item:hover::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: #0f9de0;
    left: 0;
    bottom: -1px;
    transition: 2s ease-in-out;
}
.navbar-menu .active a{
    color: #3170ac;
}

.navbar-menu .item a:hover{
    color: #3170ac;
}

.hero-content{
    position: absolute;
    width: 360px;;
    margin-top:15px;
    padding: 65px 35px 35px 30px;
    border-radius:50%;
    margin-left:50%;
    left: -180px;
    background-color: rgba(0, 18, 36, 0.122);
}

.hero-content .message{
    color: #f8f8f8;
    border-bottom: 1px solid #d9dcdf;
}


.hero-content .message .title{
    margin-bottom: 20px;
}

.hero-content .message .description{
    margin-bottom: 30px;
}

.hero-content .message .title strong{
    font-size: 48px;
    font-weight: 800;    
}

.slide-btn{
    margin-top: 25px;
    margin-bottom: 15px;
}

.slide-btn i.fa{
    color: white;
}

/*-----------------------------/
            INFO
----------------------------- */
.info{
    background-image: url(../../circle-template-assets/lighting.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid #2a6495;
}

.info-content{
    margin: 25px 10px 30px 10px;
}

.info-content .description{
    font-size: 18px;
    font-weight: 300;
    color: rgb(231, 235, 238);
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.info-image{
    font-size: 13px;
    color: #000000;
    line-height: 14px;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgba(243, 243, 243, 0.75);
    margin: 8px 0 7px 10px;
    padding: 30px 10px;
    background-image: url(../../circle-template-assets/learn-more.png);
    background-size: cover;
    width: 90px;
    height: 90px;
}




/*-----------------------------/
            FEATURES
----------------------------- */

.features{
    background: #a6abaf;
    line-height: 20px;
}
.feature{
    padding-top: 30px;
    padding-bottom: 25px;
    border-right: 1px solid #7f8285;
    position: relative;
}

.feature:last-child{
    border-right: none;
}

.feature:hover::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-image: -moz-linear-gradient( 90deg, #42acdb 0%, #1f5a8b 100%);
    background-image: -webkit-linear-gradient( 90deg, #42acdb 0%, #1f5a8b 100%);
    background-image: -ms-linear-gradient( 90deg, #42acdb 0%, #1f5a8b 100%);
    left: 0;
    bottom: 0;
    transition: 2s ease-in-out;    
}

.features:first-child{
    background: black;
}

.feature .image{
    margin-bottom: 20px;
}


.feature:hover{
    color: #f3f3f3;
    text-shadow: 0.5px 0.866px 0px rgba(64, 67, 69, 0.44);
}

.feature .description{
    font-size: 12px;
}

.arrow{
    border-left: 10px solid #7f8285;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    position: absolute;
    top : 49%;
    right: -10px;
}
/*-----------------------------/
            RECENT-WORKs
----------------------------- */
.recent-works{
    padding: 40px 10px;
}

.work{
    padding-right: 30px;
    position: relative;
}

.work .description{
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

.work .angle{
    font-size: 25px;
}

.work .angle:last-child{
    margin-left: 10px;
}

.work .angle:hover{
    color: #3170ac;
    cursor: pointer;
} 

.gallery .project-gallery{
    float: left;
    position: relative;
    margin: 0 10px;
    width: 219px;
    height: 206px;
    color: #a6abaf;
}

.gallery .project-gallery:last-child{
    margin-right: 0;
    margin-left: 5px
}

.project-title{
    position: absolute;
    bottom: 0;
    padding: 20px 0px;
    font-size: 11px;
    line-height: 20px;
    border-radius: 2px;
    width: 100%;    
    background-color: rgba(0, 0, 0,0.451);
}
.project-title .title{
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  color: rgb(243, 243, 243);
}

/*-----------------------------/
            SERVICES
----------------------------- */

.services{
  background-image: url(../../circle-template-assets/services-bg.jpg);
  background-size: cover;
  border-top:1px solid rgb(255, 255, 255);
  border-bottom:1px solid rgb(255, 255, 255);
  border-radius: 7px;
  padding-top: 40px;
  padding-bottom : 40px;
}

.services .image{
    padding: 10px;
    width: 65px;
    height: 65px;
}

.service{
    padding-left: 10px; 
}

.content-service{
    margin-left: 20px;
}

.content-service .menu {
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
}

.content-service .menu li{
    position: relative;
    text-transform: capitalize;
}

.content-service .menu .li-angle{
    background-image: url(../../circle-template-assets/li-angle-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 3px;
    height: 5px;
    left: 0;
    margin-right: 10px;
}

/*-----------------------------/
            RECENT POSTs
----------------------------- */

/*-----------------------------/
            ABOUT
----------------------------- */


/*-----------------------------/
            TESTIMONIAL
----------------------------- */


/*-----------------------------/
            QUOTES
----------------------------- */

/*-----------------------------/
            FOOTTER
----------------------------- */

